<div class="footer">
    @*<div class="footer-main-wrapper">
        <div class="container-content">
            <div class="footer-main-wrapper-content">
                <div class="footer-main-wrapper-content-left">

                    <ul class="ul-footer-menu-list">
                        <li>

                            <h3>ПОКУПАТЕЛЯМ</h3>
                            <ul>
                                <li><a href="#">Горячая линия</a></li>
                                <li><a href="#">Как сделать заказ</a></li>
                                <li><a href="#">Доставка и оплата</a></li>
                                <li><a href="#">Покупка в кредит</a></li>
                                <li><a href="#">Гарантия</a></li>
                                <li><a href="#">Правила обмена и возврата</a></li>
                                <li><a href="#">Сервис-центры</a></li>
                                <li><a href="#">Для юридических лиц</a></li>
                            </ul>

                        </li>

                        <li>

                            <h3>СОТРУДНИЧЕСТВО</h3>
                            <ul>
                                <li><a href="#">Горячая линия</a></li>
                                <li><a href="#">Как сделать заказ</a></li>
                                <li><a href="#">Доставка и оплата</a></li>

                            </ul>

                        </li>

                        <li>

                            <h3>НАШИ ПАРТНЕРЫ</h3>
                            <ul>
                                <li><a href="#">Горячая линия</a></li>
                                <li><a href="#">Как сделать заказ</a></li>
                                <li><a href="#">Доставка и оплата</a></li>
                                <li><a href="#">Покупка в кредит</a></li>
                                <li><a href="#">Гарантия</a></li>

                                <li><a href="#">Для юридических лиц</a></li>
                            </ul>

                        </li>

                    </ul>

                </div>

            </div>

            <div class="footer-main-wrapper-content-right">
                <div class="footer-list-rigt-one">
                    <ul class="ul-footer-socials-list">
                        <li>
                            <h3>Мы в соц.сетях</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="footer-list-rigt-one">
                    <ul class="ul-footer-payments-list">
                        <li>
                            <h3>Оплата</h3>
                            <ul>
                                <li><a href="#"><img src="../images/visa.png" alt="" /></a></li>
                                <li><a href="#"><img src="../images/mastercard.png" alt="" /></a></li>
                                <li><a href="#"><img src="../images/paipal.png" alt="" /></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>


            </div>
        </div>
    </div>*@
</div><!--footer-->