@{
    ViewBag.Title = "Оформление заказа";
}
<div class="shop-page-title">
    <h1>@ViewBag.Title</h1>
</div>

<div class="product-basket-tables-cont">
    <div class="customer-entry-form-b">
        <div class="customer-entry-form-cont">
            <form action="">

                <h2 class="h2-shop-page-title">1. Укажите ваши личные данные</h2>
                <ul class="ul-customer-entry-form">
                    <li>
                        <div>
                            <label class="label-default-text" for="">Имя *</label>
                            <input class="input-default-text" type="text" name="name" placeholder="Введите имя *">
                        </div>

                    </li>
                    <li>
                        <div>
                            <label class="label-default-text" for="">Телефон *</label>
                            <input class="input-default-text" type="text" name="phone" placeholder="Введите Телефон *">
                        </div>

                    </li>

                    <li>
                        <div>
                            <label class="label-default-text" for="">Email</label>
                            <input class="input-default-text" type="text" name="email" placeholder="Введите Email">
                        </div>
                    </li>

                    <li>
                        <div>
                            <label class="label-default-text" for="">Примечание</label>
                            <textarea class="textarea-default-text" type="text" name="message" placeholder="Введите сообщение"></textarea>
                        </div>
                    </li>

                </ul>

                <div class="btn-default-site-b">
                    <a href="#" class="btn-href-default-site" type="submit">Оформить заказ</a>
                </div>

            </form>
        </div>
    </div>




</div>