@{
    ViewBag.Title = "О компании";
}


<div class="product-pages-content">

    <div class="shop-page-title">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="pages-text-cont-b">

        <p>
            Наш магазин — лидер рынка розничной продажи музыкальных инструментов и оборудования в России. У нас можно купить лучшие музыкальные инструменты мировых брендов, а также весь спектр профессионального звукового, светового и студийного оборудования. В России для вас работает 43 магазина.

            Интернет-магазин музыкальных инструментов muztorg.ru крупнейший в рунете. Возможны все варианты оплаты, рассрочка и оформление кредита, скидки и бонусы на следующие покупки, быстрая доставка в регионы России, Беларуси, Казахстана.

            Качество

            Прямые поставки от производителя с полным контролем качества на всех этапах производства и гарантийным обслуживанием после покупки.

            Сервис

            Консультации квалифицированных менеджеров, доставка в удобное для вас время, сервис-центры по всей России и возможность возврата товара, если он вас не устроил.

            Организациям

            Работая с юридическими лицами, мы предоставляем полный комплект документов. Также предлагаем выгодные условия сотрудничества для бюджетных организаций.

            Скидки и бонусы по Клубной карте

            Клубная карта Наш магазин позволяет накапливать скидки и бонусы, которые можно использовать вместе. Присоединяйтесь к Программе лояльности!
        </p>

    </div>
</div>

